body
{
    background-color: yellow;
    overflow: hidden;
}

.keys
{
    height: 100vh;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.key
{
    margin: 20px;
    background-color:black;
    color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    text-shadow: 0 0 10px white;
    transition: all .05s;
}

.key_run
{
    transform: scale(1.2);
    border-color: rgb(13, 140, 145);
    box-shadow: 5px 10px 10px red;
}
